/* start main */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: #1c1d21;
  z-index: 1;
}
.text-overlay{                  /* show text on overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.clearfix {
  clear: both;
}
/* end main */

/* navbar */
#navbar{
    background-color: #343a40;
    position: fixed;
    top: -86px;
    transition: top 0.3s; 
    width: 100%;
    z-index: 2;
}
/* start first section */
.main{
    background-image: url(../imgs/back-sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* end first section */

/* social-media */
.social-media{
    padding: 100px 0;
    background-color: #fff;
}
.social-media .social-media-heading{
    color: #262e3b;
    font-size: 35px;
    padding: 0 10px 30px;
    position: relative;
}
.social-media .social-media-heading:after{
    position: absolute;
    content: "";
    left: 47%;
    top: 60px;
    bottom: 0;
    height: 4px;
    width: 66px;
    background: rgb(233,20,111);
}
.social-media-heading-subline{
    color: #a7a9ac;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.social-media .first .heading-1{
    font-size: 16px;
    color: rgb(233,20,111);
    font-weight: 500;
}
.social-media .first .heading-2{
    font-size: 16px;
    line-height: 27px;
    font-weight: 200;
    max-width: 470px;
    text-transform: capitalize;
}
.social-media .second p{
    font-size: 14px;
    line-height: 32px;
    max-width: 470px;
    text-transform: capitalize;
}
.social-media .second ul{
    text-transform: capitalize;
    font-size: 14px;
}
.social-media .second h4{
    position: relative;
}
.social-media .second h4:after{
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 40px;
    bottom: 0;
    height: 3px;
    width: 60px;;
    background: rgb(233,20,111);
}
.social-media .second .attached{
    color: rgb(233,20,111);
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}
.social-media .fourth .heading-1{
    font-size: 16px;
    color: rgb(233,20,111);
    font-weight: 500;
}
.social-media .fourth .heading-2{
    font-size: 14px;
    line-height: 27px;
    font-weight: 200;
    max-width: 93%;
    text-transform: capitalize;
}
.social-media .note p,
.branding .note p{
    font-size: 12px;
    color: rgb(233,20,111);
}
.social-media .note p a,
.branding .note p a{
    font-weight: bold;
    font-size: 13px;
    color: rgb(233,20,111);
}
.social-media .note p a:hover,
.branding .note p a:hover{
    color: #3E7FC5;
}
.bottom-line{
    height: 1px;
    width: 100%;
    background-color: #ccc;
}
.social-media .second .bottom-line{
    max-width: 470px;
}

/* footer */
footer{
    background-color: #2d2d2d;
}
footer p{
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
}
footer .bottom-links{
    margin-top: 20px;
}
footer .bottom-links li{
    display: inline-block;
    margin-left: 5px;
}
footer .bottom-links li a{
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
}
footer .bottom-links li a:hover{
    color: #E7196F;
}
/* responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .social-media .social-media-heading:after{
        left: 41%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .social-media .social-media-heading:after{
        top: 80px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
}

/* branding */
.branding{
    padding: 100px 0;
    background-color: #fff;
}
.branding .branding-heading{
    color: #262e3b;
    font-size: 35px;
    padding: 0 10px 50px;
    position: relative;
}
.branding .branding-heading:after{
    position: absolute;
    content: "";
    left: 47%;
    top: 60px;
    bottom: 0;
    height: 4px;
    width: 66px;
    background: rgb(233,20,111);
}
.branding-heading-subline{
    color: #a7a9ac;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.branding .second .heading-1{
    font-size: 23px;
    color: rgb(233,20,111);
    font-weight: 600;
}
.branding .second p{
    font-size: 14px;
    line-height: 32px;
    max-width: 470px;
    text-transform: capitalize;
}
.branding .second ul{
    text-transform: capitalize;
}
.branding .second h4{
    position: relative;
}
.branding .second h4:after{
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 40px;
    bottom: 0;
    height: 3px;
    width: 60px;;
    background: rgb(233,20,111);
}
.branding .second .attached{
    color: rgb(233,20,111);
    font-size: 11px;
    font-weight: bold;
}
.branding .border-right{
    border-right-style: dashed !important;
}
/* footer */
footer{
    background-color: #2d2d2d;
}
footer p{
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
}
.branding .bottom-line,
.task .bottom-line{
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: none;
    margin: 3rem 0;
}

.task p,
.task .links{
    line-height: 1.8;
    font-size: 14px;
}
.task .grid-con{
    display: grid;
    grid-template-areas:
        'Glem Chicken'
        'fit fit';
    grid-gap: 1px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    
}
.task .grid-con .grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.task .grid-con .item1{
    grid-area: Glem;
}
.task .grid-con .item2{
    grid-area: Chicken;
}
.task .grid-con .item3{
    grid-area: fit;
}

/* responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .branding .branding-heading:after{
        left: 41%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .task .grid-con{
        grid-template-areas:
            'Glem'
            'Chicken'
            'fit';
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .hire h3{
        font-size: 1.4rem;
    }
    .branding .border-right,
    .task .border-right{
        border-right: 0!important;
    }
    .branding .second .pl-5{
        padding-left: 0!important;
    }
    .branding .bottom-line,
    .task .bottom-line{
        display: block;
    }
}